@import "variables";
@import "footer";

@mixin medidas {
    font-size: 30px;
    margin-top: 60px;
    padding: 40px;
    font-weight: 700;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: $fuente;
}

.div-contacto {
    margin-top: 200px;
    h4 {
        text-align: center;
        font-style: bold;
        font-weight: 700;
        color: #000000;
        font-size: 40px;
    } 
    p {
        font-weight: 300;
        color: #000000;
        font-size: 18px;
        padding: 10px;
    }    
}

.div-envios {
    font-family: $fuente;
    font-weight: 200;
    font-size: 22px;
    h5 {
        @include medidas;
    }
    p {
        font-size: 20px;
    }
}

.div-pagos {
    @extend .div-envios;
    h5 {
       @include medidas;
    }
}

.titulo-productos h4 {
    margin: 25px;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    body {
        background-color: $color-primary;
    .div-ingresos {
        grid-template-columns: repeat(3, 1fr);
        border-radius: 50px;
        img {
            height: 200px;
            width: 200px;
            object-fit: contain;
        }
        h4 {
        display: flex;
        font-size: 15px;
        text-align: center;
        margin-top: 100px;
        margin-left: 50px;
        color: rgb(190, 190, 190);
        }
    }
    }
}

@media screen and (max-width:425px) {
    body {
        background-color: $color-primary;
    .div-ingresos {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3px;
        border-radius: 30px;
        img {
            height: 130px;
            width: 130px;
            margin: 5px 10px 5px 2px;
            object-fit: contain;
        }
        h4 {
        display: flex;
        font-size: 15px;
        text-align: center;
        margin-top: 40px;
        margin-left: 5px;
        color: rgb(190, 190, 190);
        }
    }
    }
}

$fuentes: (
    chica: 22px,
    mediana: 30px, 
    grande: 40px,
);

@each $fuente, $font in $fuentes {
    .p-#{$fuente} {
        font-size: $fuente;
    }
}

.div-ingresos {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    background-color: #797b845d;
    border: 1px;
    border-radius: 100px;
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        height: 550px;
        width: 550px;
        object-fit: contain;
        padding: 5px;
        margin: 30px 30px 30px 30px;
        
    }
    
    h4 {
        display: flex;
        font-size: 35px;
        font-weight: $tamaño-fuente;
        text-align: center;
        margin-top: 260px;
        margin-left: 100px;
        color: rgb(55, 54, 54);
        }
        h4:hover {
            color: rgba(55, 54, 54, 0.636);
        
}
}